/*----------------------------------------*/
/*  21. TESTIMONIAL CSS START
/*----------------------------------------*/


.testimonial {
  &__area {
    // background: radial-gradient(circle at left top, #030711, #3a6391 ,#89C3E5);
    background-color: #000B25 !important; 
    overflow: hidden;

    .sec-title-wrapper {
      max-width: 330px;
      padding-top: 120px;

      @media #{$lg} {
        width: 100%;
        padding-top: 60px;
        padding-left: 30px;
      }

      @media #{$md} {
        padding-top: 0px;
      }

      @media #{$sm} {
        padding-top: 0px;
      }
    }

    p {
      padding-top: 30px;
      font-size: 18px;
      line-height: 1.4;

      @media #{$lg} {
        font-size: 16px;
      }

      @media #{$sm} {
        padding-bottom: 20px;
      }
    }

    &-2 {
      background-color: #000B25 !important;
      min-height: 600px;
      display: flex;
      align-items: center;

      @media #{$lg} {
        min-height: 550px;
      }

      @media #{$md} {
        min-height: 500px;
      }

      @media #{$sm} {
        min-height: auto;
        padding: 60px 0;
      }

      .line-3 {
        z-index: 5;
      }

      // Client images styling
      .testimonial__client-images {
        height: 450px;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        max-width: 350px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @media #{$lg} {
          height: 400px;
          max-width: 300px;
        }

        @media #{$md} {
          height: 350px;
          max-width: 280px;
        }

        @media #{$sm} {
          height: 300px;
          max-width: 250px;
          margin: 0 auto;
        }

        .swiper {
          height: 100%;
          width: 100%;
        }

        .swiper-slide {
          height: 100%;
          width: 100%;
        }
      }

      .testimonial__client-image-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover {
          box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
          transform: translateY(-3px);
        }
      }

      .testimonial__client-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
      }
      
      .testimonial__client-image-wrapper:hover .testimonial__client-image {
        transform: scale(1.05);
      }

      .testimonial__client-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
        padding: 30px 20px 20px;
        z-index: 2;

        @media #{$sm} {
          padding: 20px 15px 15px;
        }
      }

      .testimonial__client-info {
        text-align: center;

        .testimonial__client-name {
          color: var(--white);
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 5px;
          line-height: 1.2;

          @media #{$sm} {
            font-size: 18px;
          }
        }

        .testimonial__client-role {
          color: var(--gray-2);
          font-size: 14px;
          margin: 0;
          opacity: 0.9;

          @media #{$sm} {
            font-size: 13px;
          }
        }
      }

      .g-0 {
        @media #{$sm} {
          padding-right: 8px;
          padding-left: 8px;
        }
      }

      // Row alignment for proper vertical alignment
      .row {
        align-items: center;
        min-height: 500px;

        @media #{$sm} {
          flex-direction: column;
          min-height: auto;
        }
      }

      // Testimonial slider wrapper styling
      .testimonial__slider-wrapper-2 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;

        @media #{$sm} {
          padding-top: 30px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      .testimonial__slider {
        height: 100%;
        position: relative;

        .swiper {
          height: 100%;
        }

        .swiper-slide {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }

      .testimonial__slide {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        
        .testimonial__inner-2 {
          animation: slideIn 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          will-change: transform, opacity;
        }
      }
      
      @keyframes slideIn {
        0% {
          opacity: 0;
          transform: translateX(30px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .testimonial__inner-2 {
        width: 100%;
      }
    }
    // update v0.2 
    &-3 {
      background-image: url(/assets/imgs/testimonial/3/bg.png);
      background-repeat: no-repeat;
      background-position: 0 150px;
      position: relative;
      padding-top: 410px;
      padding-bottom: 330px;
      overflow: hidden;

      @media #{$lg} {
        padding-top: 300px;
        padding-bottom: 250px;
      }

      @media #{$md} {
        padding-top: 300px;
        padding-bottom: 200px;
      }

      @media #{$sm} {
        padding-top: 60px;
        padding-bottom: 60px;

        img {
          display: none;
        }
      }
    }

    @media (max-width: 1023px) {
      .cursor {
        display: none;
      }
    }
  }

  &__slider {
    // update v0.2 
    &-3 {
      padding-top: 120px !important;
      padding-bottom: 120px !important;
      max-width: 660px;
      // update v0.2 
      @media #{$sm} {
        padding-top: 80px !important;
      }

      .swipper-btn {
        width: 50px;
        height: 50px;
        border: 1px solid;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        transition: all 0.3s;

        &:hover {
          background-color: var(--black-2);
          // update v0.2 
          svg {
            color: var(--white);
          }
        }

        i {
          font-size: 18px;
          color: var(--black-3);
        }
      }

      .next-button {
        right: calc(50% - -10px);
      }

      .prev-button {
        left: calc(50% - -10px);
      }
    }
  }

  &__slide {
    margin-left: -3px;

    &-3 {
      text-align: center;

      p {
        @include paragraph(24px, var(--black-2));
        font-style: italic;
        max-width: 630px;
        margin: 0 auto;
        position: relative;

        @media #{$md} {
          font-size: 20px;
        }

        @media #{$sm} {
          font-size: 20px;
          padding: 0 10px;
        }
        // update v0.2 
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: -100px;
          left: calc(50% - 23px);
          background-image: url(/assets/imgs/icon/quote.png);
          background-repeat: no-repeat;

          @media #{$sm} {
            top: -80px;
          }
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media #{$md} {
      flex-direction: column-reverse;
    }

    @media #{$sm} {
      flex-direction: column-reverse;
    }

    &-2 {
      position: relative;
    }
  }

  &__item {
    @media #{$sm} {
      padding-bottom: 30px;
    }

    .button {
      display: inline-block;
      cursor: pointer;
    }


    &.item {
      &-1 {
        @media #{$sm} {
          text-align: center;
          margin: 0 50px;
          // update v0.2 
          img {
            width: 260px;
          }
        }
      }

      &-2 {
        padding-top: 20px;
        text-align: center;
      }

      &-3 {
        padding-top: 220px;
        text-align: right;

        @media #{$sm} {
          text-align: center;
          padding-top: 30px;
        }
      }
    }
  }

  &__img {
    position: relative;
    margin-bottom: 20px;

    img {
      @media #{$lg} {
        width: 100%;
      }

      @media #{$md} {
        width: 100%;
      }
    }

    &.b-right::after {
      position: absolute;
      content: "";
      width: 100%;
      height: calc(100% - 30px);
      left: 30px;
      top: 0;
      border: 3px solid #ffffff;
      border-radius: 180px 180px 0 0;
      z-index: -1;
    }

    &.b-left::before {
      position: absolute;
      content: "";
      width: 100%;
      height: calc(100% - 30px);
      left: -30px;
      top: 0;
      border: 3px solid #ffffff;
      border-radius: 180px 180px 0 0;
      z-index: -1;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    color: var(--black);
    text-transform: capitalize;

    &-2 {
      font-weight: 600;
      font-size: 50px;
      line-height: 1.1;
      color: var(--white);
      font-style: italic;
      padding: 0;
      margin-bottom: 15px;
      position: relative;
      z-index: 1;

      @media #{$xl} {
        font-size: 42px;
      }

      @media #{$lg} {
        font-size: 40px;
      }

      @media #{$md} {
        font-size: 32px;
      }

      @media #{$sm} {
        font-size: 28px;
        margin-bottom: 12px;
      }
    }
  }

  &__role {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.4;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
    position: relative;
    z-index: 1;

    &-2 {
      font-weight: 400;
      font-size: 14px;
      line-height: 12px;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__text-2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.9);
    padding-right: 60px;
    padding-bottom: 25px;
    position: relative;
    z-index: 1;
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: fadeInUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 1;
    transform: translateY(0);
    will-change: transform, opacity;

    @media #{$lg} {
      font-size: 17px;
      padding-right: 50px;
    }

    @media #{$md} {
      padding-right: 30px;
      padding-bottom: 20px;
      font-size: 16px;
    }

    @media #{$sm} {
      font-size: 16px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__inner {
    // update v0.2 
    &-2 {
      background-color: #1a202c;
      padding: 50px 60px;
      margin-top: 140px;
      margin-right: 2px;
      border-radius: 16px;
      box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1);
      position: relative;
      overflow: hidden;
      transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      
      .testimonial__title-2 {
        color: var(--white);
        position: relative;
        z-index: 1;
        transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation: fadeIn 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        will-change: opacity;
      }
      
      .testimonial__text-2,
      .testimonial__author {
        color: var(--white);
        position: relative;
        z-index: 1;
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      .testimonial__author-info {
        margin-top: 30px;
        padding-top: 25px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;
        z-index: 1;
        animation: fadeInUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
        will-change: transform, opacity;
      }

      @media #{$xl} {
        padding: 50px 40px;
        margin-top: 185px;
      }

      @media #{$lg} {
        padding: 45px 35px;
        margin-top: 160px;
      }

      @media #{$md} {
        padding: 45px 35px;
        margin-top: 136px;
      }

      @media #{$sm} {
        text-align: center;
        padding: 40px 25px;
        margin-top: 30px;
      }
    }
  }
  

  &__video {
    margin-right: -112px;
    max-height: 785px;
    overflow: hidden;

    @media #{$lg} {
      max-height: 740px;
    }

    @media #{$md} {
      max-height: 700px;
    }

    @media #{$sm} {
      margin-right: 0;
      max-height: unset;
    }

    video {
      width: 100%;
    }
  }

  &__author {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: var(--white);
    padding-bottom: 6px;
    margin: 0;
    letter-spacing: 0.3px;
    
    @media #{$sm} {
      font-size: 16px;
    }
  }


  &__pagination {
    position: absolute;
    right: 0;
    top: calc(50% - 105px);
    transform: translate(100%, -50%);

    @media #{$xxl} {
      transform: unset;
      z-index: 9;
    }

    @media #{$xl} {
      transform: unset;
      top: unset;
      bottom: 110px;
      z-index: 9;
    }

    @media #{$lg} {
      transform: unset;
      top: unset;
      bottom: 60px;
      z-index: 9;
    }

    @media #{$md} {
      transform: unset;
      top: unset;
      bottom: 60px;
      z-index: 9;
    }

    @media #{$sm} {
      position: relative;
      transform: none;
      top: auto;
      right: auto;
      bottom: auto;
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 30px;
    }

    .next-button,
    .prev-button {
      width: 60px;
      height: 60px;
      border: 2px solid rgba(255, 255, 255, 0.2);
      color: var(--white);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 35px;
      transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      position: relative;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(10px);
      cursor: pointer;

      @media #{$md} {
        margin: 20px;
      }

      @media #{$sm} {
        margin: 0;
        width: 50px;
        height: 50px;
      }

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: linear-gradient(135deg, rgba(59, 130, 246, 0.3), rgba(139, 92, 246, 0.3));
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      i {
        position: relative;
        z-index: 1;
        transition: all 0.3s ease;
        color: var(--white) !important;
      }

      &:hover {
        border-color: rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.1);
        transform: scale(1.1) translateY(-2px);
        box-shadow: 0 10px 30px rgba(59, 130, 246, 0.3);

        &::after {
          opacity: 1;
        }

        i {
          color: var(--white) !important;
          transform: scale(1.1);
        }
      }
      
      &:active {
        transform: scale(0.95);
        
        i {
          color: var(--white) !important;
        }
      }
    }
  }

  &3__img {
    position: absolute;
    top: 170px;
    left: 25%;

    @media #{$lg} {
      top: 100px;
      left: 15%;
    }

    @media #{$md} {
      top: 60px;
      left: 10%;
    }

    &-2 {
      position: absolute;
      top: 230px;
      right: 28%;

      @media #{$lg} {
        top: 180px;
        right: 15%;
      }

      @media #{$md} {
        top: 130px;
        right: 15%;
      }
    }

    &-3 {
      position: absolute;
      top: 40%;
      left: 50px;

      @media #{$md} {
        top: 78%;
        left: 60px;
        z-index: 9;
      }
    }

    &-4 {
      position: absolute;
      bottom: 150px;
      left: 170px;

      @media #{$xxl} {
        left: 80px;
        max-width: 250px;
      }

      @media #{$xl} {
        left: 70px;
        max-width: 220px;
      }

      @media #{$lg} {
        bottom: 70px;
        left: 70px;
        max-width: 200px;
      }

      @media #{$md} {
        bottom: 180px;
        left: 0;
        max-width: 160px;
      }
    }

    &-5 {
      position: absolute;
      top: 43%;
      right: 70px;

      @media #{$xl} {
        right: 10px;
      }

      @media #{$lg} {
        top: 62%;
        right: 30px;
      }

      @media #{$md} {
        top: 60%;
        right: 0;
        width: 150px;
      }
    }

    &-6 {
      position: absolute;
      right: 280px;
      top: 58%;

      @media #{$xl} {
        right: 200px;
      }

      @media #{$lg} {
        top: 75%;
        right: 200px;
      }

      @media #{$md} {
        top: 70%;
        right: 60px;
      }
    }
  }
}

// Client
.client {
  &__name {
    &-3 {
      font-weight: 500;
      font-size: 28px;
      line-height: 1.3;
      text-transform: uppercase;
      color: var(--black-2);
      padding-top: 50px;
      padding-bottom: 10px;
    }
  }

  &__role {
    &-3 {
      font-weight: 300;
      font-size: 14px;
      line-height: 1.5;
      text-transform: uppercase;
      color: var(--black-3);
    }
  }
}